@model SBS.Core.Models.TransferViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="FromStoreId" class="control-label"></label>
                <select asp-for="@Model.FromStoreId" class="form-control" asp-items="ViewBag.StoresList" disabled ></select>
                <span asp-validation-for="FromStoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToStoreId" class="control-label"></label>
                <select id="lstToStoresId" asp-for="@Model.ToStoreId" asp-items="ViewBag.StoresList" class="form-control" disabled></select>
                <span asp-validation-for="ToStoreId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-2"></div>

        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="CreateDatetime" class="control-label"></label>
                <input asp-for="CreateDatetime" class="form-control" disabled />
                <span asp-validation-for="CreateDatetime" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="col-12 ml-5">
        <h5>Details</h5>
        <table id="detailsTable" class="table table-borderless table-sm mb-0 pb-0">
            <thead>
                <tr>
                    <th>
                        Partide
                    </th>
                    <th>
                        Unit
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Details.Count; i++)
                {
                    <tr>
                        <td>
                            <select asp-for="@Model.Details[i].DeliveryDetailId" asp-items="ViewBag.Partides" class="form-control" disabled></select>
                        </td>
                        <td>
                            <select  asp-for="@Model.Details[i].DeliveryDetail.UnitId" asp-items="ViewBag.UnitsList" class="form-control" disabled></select>
                        </td>
                        <td>
                            <input  asp-for="@Model.Details[i].Qty" class="form-control" disabled/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <input type="hidden" id="hdnLastIndex" value="0" />
    <div class="form-group btn-group mt-2">
        <a class="btn btn-secondary" asp-action="Index">Back</a>
    </div>
</div>

