@model IEnumerable<SBS.Core.Models.TransferViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromStoreId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToStoreId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDatetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromStoreId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToStoreId)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
            </td>
        </tr>
}
    </tbody>
</table>
