@model IEnumerable<SBS.Core.Models.TransferViewModel>

@{
    ViewData["Title"] = "Transfers";
}

<div class="container-fluid btn-group">
    <div class="col-10">
        <h1 class="col-4">Transfers</h1>
    </div>
    <div class="justify-content-end  col-2">
        <p>
            <a asp-action="Create" class="btn btn-primary mt-2">Create New</a>
        </p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromStoreId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToStoreId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDatetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromStore.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToStore.Name)
                </td>
                <td>
                    <a asp-controller="Transfer" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
