@using SBS.Areas.Administration.Models;
@model IEnumerable<SBS.Areas.Administration.Models.UserRoleViewModel>

@{
    ViewData["Title"] = "Roles for Users";
}

<div class="container-fluid btn-group">
    <div class="col-10">
        <h1 class="col-4">Roles for Users</h1>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @foreach (SelectListItem role in (List<SelectListItem>)ViewBag.Roles)
            {
                <th>
                    <label>@role.Text</label>
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @foreach (SelectListItem role in (List<SelectListItem>)item.Roles)
                {
                    <td>
                        <input type="checkbox" checked="@role.Selected" disabled/>
                    </td>
                }
                <td>
                    <a asp-controller="UserRole" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
