@using SBS.Areas.Administration.Models;
@model IEnumerable<SBS.Areas.Administration.Models.UserRoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @foreach (RoleViewModel role in (List<RoleViewModel>)ViewBag.Roles)
            {
                <th>
                    <label>@role.Name</label>
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @foreach (RoleViewModel role in (List<RoleViewModel>)item.Roles)
                {
                    <td>
                        <input type="checkbox" checked="@role.Selected" readonly/>
                    </td>
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                </td>
                
            </tr>
        }
    </tbody>
</table>
