@model SBS.Core.Models.ContragentViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contragent</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Contragent" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="VatNumber" class="control-label"></label>
                <input asp-for="VatNumber" class="form-control" />
                <span asp-validation-for="VatNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsClient" /> @Html.DisplayNameFor(model => model.IsClient)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSupplier" /> @Html.DisplayNameFor(model => model.IsSupplier)
                </label>
            </div>
            
            <div class="form-group btn-group mt-2">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="container-fluid btn-group">
            <div class="col-10">
                <h5 class="col-4">Addresses</h5>
            </div>
            <div class="justify-content-end  col-4">
                <p>
                    <a asp-controller="Address" asp-action="Create" class="btn btn-primary mt-2">Create</a>
                </p>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Country Name
                    </th>
                    <th>
                        City Name
                    </th>
                    <th>
                        Address Line 1
                    </th>
                    <th>
                        Address Line 2
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Addresses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressLine1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddressLine2)
                        </td>
                        <td>
                            <a asp-controller="Address" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        </td>
                        <td>
                            <form asp-controller="Address" asp-action="Delete" method="post">
                                <input name="id" type="hidden" value="@item.Id" />
                                <button class=" btn btn-danger" onclick="return confirm('Are you sure you want to delete atricle: @item.AddressLine1')">Delete</button>
                                <a class="btn btn-secondary" asp-action="Index">Back</a>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
