@model IEnumerable<SBS.Core.Models.DeliveryViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid btn-group">
    <div class="col-10">
        <h1 class="col-4">Deliveries</h1>
    </div>
    <div class="justify-content-end  col-2">
        <p>
            <a asp-action="Create" class="btn btn-primary mt-2">Create New</a>
        </p>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            @*            <th>
            @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ContragentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDatetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConfirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*            <td>
            @Html.DisplayFor(modelItem => item.Id)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Contragent.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDatetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsConfirmed)
                </td>
                <td>
                    <div class="btn-group">
                        @if (!item.IsConfirmed)
                        {
                            <a asp-controller="Delivery" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        }
                        <a asp-controller="Delivery" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                        @if (!item.IsConfirmed)
                        {
                            <a asp-controller="Delivery" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
