@using SBS.Core.Models
@model IEnumerable<StoreViewModel>

@{
    ViewData["Title"] = "Stores";
}

<div class="container-fluid btn-group">
    <div class="col-10">
        <h1 class="col-4">Stores</h1>
    </div>
    <div class="justify-content-end  col-2">
        <p>
            <a asp-action="Create" class="btn btn-primary mt-2">Create New</a>
        </p>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
  
                <td>
                    <div class="btn-group">
                        <a asp-controller="Store" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <form asp-controller="Store" asp-action="Delete" method="post">
                            <input name="id" type="hidden" value="@item.Id" />
                            <button class=" btn btn-danger" onclick="return confirm('Are you sure you want to delete atricle: @item.Name')">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
